{:meta/version 1
 :feature/enable-journals? true
 :feature/enable-whiteboards? false
 :default-home {:page "TTA.dev"}
 :preferred-format :markdown
 :preferred-workflow :now
 :hidden []
 :default-templates {:journals ""}
 :publishing/all-pages-public? false

 ;; Enable namespace support for multi-repo structure
 :feature/enable-block-timestamps? false
 :feature/enable-search-remove-accents? true

 ;; Configure page references
 :ref/default-open-blocks-level 2
 :ref/linked-references-collapsed-threshold 50

 ;; Graph settings
 :graph/settings {:journal/page-title-format "yyyy-MM-dd"
                  :builtin-pages-hidden? false}}
